/*----VARIABLES----*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.ion-20 {
  font-size: 20px; }

.ion-21 {
  font-size: 21px; }

.ion-22 {
  font-size: 22px; }

.ion-23 {
  font-size: 23px; }

.ion-24 {
  font-size: 24px; }

.ion-25 {
  font-size: 25px; }

.ion-26 {
  font-size: 26px; }

.ion-27 {
  font-size: 27px; }

.ion-28 {
  font-size: 28px; }

.ion-29 {
  font-size: 29px; }

.ion-30 {
  font-size: 30px; }

.ion-31 {
  font-size: 31px; }

.ion-32 {
  font-size: 32px; }

.ion-33 {
  font-size: 33px; }

.ion-34 {
  font-size: 34px; }

.ion-35 {
  font-size: 35px; }

.ion-36 {
  font-size: 36px; }

.ion-37 {
  font-size: 37px; }

.ion-38 {
  font-size: 38px; }

.ion-39 {
  font-size: 39px; }

.ion-40 {
  font-size: 40px; }

.ion-41 {
  font-size: 41px; }

.ion-42 {
  font-size: 42px; }

.ion-43 {
  font-size: 43px; }

.ion-44 {
  font-size: 44px; }

.ion-45 {
  font-size: 45px; }

.ion-46 {
  font-size: 46px; }

.ion-47 {
  font-size: 47px; }

.ion-48 {
  font-size: 48px; }

.ion-49 {
  font-size: 49px; }

.ion-50 {
  font-size: 50px; }

.blue {
  color: #3498db; }

.red {
  color: #e74c3c; }

.yellow {
  color: #f1c40f; }

.teal {
  color: #2ecc71; }

.purple {
  color: #9b59b6; }

.green {
  color: #2ecc71; }

.turquoise {
  color: #1abc9c; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*COMMON CSS*/
body {
  position: relative;
  font: normal 14px/1.618em 'Segoe UI', Lato, Tahoma, Geneva, Verdana, sans-serif;
  background: #000000; }

.profile-card, .client-wrapper, .aboutAni {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.heading {
  font-weight: 500;
  margin: 0px 0px 5px 0px; }

p {
  margin: 0px; }

a {
  text-decoration: none; }

.profile-card {
  max-width: 300px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23); }

.client-wrapper > img {
  margin: 0 auto;
  display: block;
  max-width: 350px; }

.profile-summary {
  width: auto;
  height: auto;
  padding: 20px 20px 0;
  display: block; }
  .profile-summary a {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 25px 30px; }
    .profile-summary a > img {
      width: 120px;
      max-width: 100%;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
      -webkit-transition: box-shadow 0.3s ease;
      -moz-transition: box-shadow 0.3s ease;
      transition: box-shadow 0.3s ease; }
    .profile-summary a:hover > img {
      box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1); }
  .profile-summary .profile-nickname {
    color: #FF5722;
    font-weight: 500;
    margin: 0px 0px 5px 0px; }

.profile-bio {
  width: auto;
  height: auto;
  padding: 15px 20px 20px;
  display: block;
  color: #333333; }

.profile-social-links {
  padding: 0 20px 15px; }
  .profile-social-links li {
    list-style: none;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: 20%;
    text-align: center; }
    .profile-social-links li a {
      display: inline-block;
      color: red;
      width: 24px;
      height: 24px;
      position: relative;
      overflow: hidden;
      border-radius: 50%; }

/*ANIMATION*/
.clearfix {
  *zoom: 1; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.spin:before {
  animation: spin 3s linear 0s infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.btn {
  display: inline-block;
  text-align: center;
  padding: 1em 1.5em;
  background: #e74c3c;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: #e74c3c;
  text-decoration: none; }

a:hover {
  color: #bf2718; }

a:hover, a:focus {
  text-decoration: none; }

a, input {
  transition: all 0.2s ease; }

a:active, a:focus, input:active, input:focus, button:active, button:focus, textarea:active, textarea:focus, select:active, select:focus {
  box-shadow: none;
  outline: none; }

p {
  line-height: 1.7; }

.browser-wrap {
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, #6ec575 0, #3b8686 100%); }

.browser {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #eee;
  max-width: 550px;
  max-height: 300px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5); }
  .browser .icon {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center; }
    .browser .icon span {
      display: table-cell;
      vertical-align: middle;
      color: #666; }
  .browser .header {
    background: #ccc;
    color: #999; }
    .browser .header .right {
      float: right; }
  .browser .tablet {
    text-align: center;
    color: #999;
    background: #ccc;
    margin: 10px 10px 0;
    height: 75%;
    position: relative; }
    .browser .tablet span {
      position: absolute;
      bottom: -38px;
      left: 0;
      right: 0;
      text-align: center; }
  .browser .phone {
    background: #ccc;
    margin: 10px 0;
    height: 80%; }
  .browser .body, .browser .header {
    padding: 0.5em 1em; }

.aboutAni {
  max-width: 250px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  background: #eee;
  z-index: 2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(34, 34, 34, 0.5); }

.html-css .head {
  margin-bottom: 1em;
  width: 100%;
  height: 100px;
  background: #ccc; }
.html-css .box-contain {
  margin: 0 auto;
  width: 245px;
  text-align: center; }
.html-css .box {
  display: inline-block;
  margin: 5px 5px 5px;
  width: 20%;
  height: 50px;
  background: #ccc; }
.html-css .box-large {
  width: 70%;
  height: 60px; }

.javascript {
  height: 100%;
  background: #999; }
  .javascript .sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background: #eee; }
  .javascript .codebar {
    width: 70%;
    height: 100%;
    padding: 1em;
    float: right; }
  .javascript .line {
    margin-bottom: 15px;
    width: 100%;
    height: 7px;
    background: #fff; }

.heart {
  text-align: center;
  height: 100%; }
  .heart span {
    display: inherit;
    position: relative;
    top: 50%;
    color: #e74c3c;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.more, .more-2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center; }
  .more span, .more-2 span {
    position: relative;
    top: -1px;
    margin-right: 5px;
    color: #000000;
    vertical-align: middle; }

.load {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: auto;
  max-width: 500px;
  color: #fff;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .load .quote {
    margin-top: 1em;
    font-size: 23px;
    font-weight: lighter;
    color: #FFFFFF;
    line-height: 28px; }

.text {
  position: absolute;
  top: 50%;
  bottom: 0;
  margin-top: -150px;
  width: 100%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px; }

.aboutText, .client-text {
  margin-top: -200px; }

.contact-me, .checkout-project-wrapper {
  margin-top: -50px; }

.aboutText div {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
