.wrapper {
  max-width: 60em;
  margin: 0 auto;
  padding: 1em 0;
  background: #f0f0f0;
}

.box-container {
  margin: 0 4em;
}

.wrap-text {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  color: #fff;
  font: 1.5em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrap-text-heading {
  margin: 0 auto 10px;
}

.box-item {
  position: relative;
  display: inline-block;
  margin-right: -5px;
  width: 24.4%;
  cursor: pointer;
  background: #000;
  overflow: hidden;
}

.box-item .wrap-background {
  max-width: 100%;
  vertical-align: middle;
  /*Clear the margin of image*/
  opacity: 0.6;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.box-item:hover .wrap-background {
  opacity: 0.2;
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.outer-wrapper {
  position: relative;
  display: none;
  opacity: 0;
  margin-top: 20px;
  border-top: 4px solid #2ebdb7;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.outer-wrapper.open {
  display: block;
  opacity: 1;
}

.outer-wrapper::before, .outer-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.outer-wrapper::before {
  top: -1.5em;
  border-bottom: 1.5em solid #2ebdb7;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
}

.outer-wrapper::after {
  top: -1em;
  border-bottom: 1.5em solid #f0f0f0;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
}

.outer-wrapper.state-1::before, .outer-wrapper.state-1::after {
  left: 15%;
}

.outer-wrapper.state-2::before, .outer-wrapper.state-2::after {
  left: 36.5%;
}

.outer-wrapper.state-3::before, .outer-wrapper.state-3::after {
  left: 57%;
}

.outer-wrapper.state-4::before, .outer-wrapper.state-4::after {
  left: 79%;
}

.submenu {
  position: relative;
  display: none;
  height: 100px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.submenu .wrap-text {
  color: #34495e;
}
