@import "bourbon/bourbon";
@import 'variables';


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    /*CARD*/
    /**
 * The cards
 * Each card plays home to a front and back.
 */
    .card {
        position: relative;
        float: left;
        text-align: center;
        width: percentage(1/$num-of-card-tablet);
        padding-bottom: percentage(1/$num-of-card-tablet);

        &:last-child {
            display: none;
        }
    }
}
