/*----VARIABLES----*/
$profile-bg-color: linear-gradient(135deg,#6ec575 0,#3b8686 100%);
$portfolio-bg-color: linear-gradient(135deg,#ffc48c 0,#ff9f80 100%);
$skill-bg-color: linear-gradient(135deg,#9af3f1 0,#26ade4 100%);
$community-bg-color: linear-gradient(135deg,#ffae95 0,#f67385 100%);
$white-color: #FFFFFF;
$black-color: #000000;
$light-red-color: #FF5722;
$gutter: 1em;
$num-of-card-desktop: 5;
$num-of-card-tablet: 3;
$num-of-card-mobile: 2;
$card-flip-duration: 1s;