<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8">
    <title>Hire Me - Vo Tuan Trung</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I help companies and agencies build standards-compliant front-ends for fast, accessible and responsive web sites and applications.">
    <meta name="author" content="Vo Tuan Trung">

    <meta property="og:url" content="http://trungk18.github.io/">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Hire Me - Vo Tuan Trung">
    <meta property="og:description" content="I help companies and agencies build standards-compliant front-ends for fast, accessible and responsive web sites and applications.">
    <meta property="og:image" content="http://trungk18.github.io/img/facebook-logo.jpg">

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,700,400italic,700italic" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#page-top"><img src="img/trungk18-2.png" title="trungk18" alt="trungk18" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="#community">Community</a>
                    </li>
                    <li>
                        <a href="#skill">Skill</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-circle" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Vo Tuan Trung</span>
                        <span class="skills">Front-end Developer - .NET/SharePoint Developer</span>
                        <hr class="star-light">
                    </div>
                    <div class="sub-intro-text">
                        <p>I work with small and medium-sized businesses, design teams and agencies, building fast, responsive and utilizable website front-ends, with strong focus on <span class="focus">HTML5, CSS, JavaScript, responsive design and performance.</span></p>
                        <p>If you’re a designer or a design agency looking for someone to implement your designs in a responsive, performant manner, and think you can benefit from my skill set, then I’m happy to hear from you.</p>
                        <h3>What I <i>can</i> help you with:</h3>
                        <ul>
                            <li>
                                Front-end development: Working with UI/UX designers to convert designs into responsive, performant and standards-compliant websites, using HTML5, CSS and JavaScript.
                                <ul class="front-end">
                                    <li>Responsive Design and grid frameworks (<strong>Bootstrap</strong> and <strong>Foundation</strong>).</li>
                                    <li>CSS pre-processor including <strong>LESS</strong> and <strong>SASS</strong>.</li>
                                    <li>JavaScript MVC / MVW frameworks - <strong>AngularJS</strong>.</li>
                                    <li><strong>RequireJS</strong> for file and module loader.</li>
                                    <li><strong>Bower</strong> for dependency management.</li>
                                    <li><strong>Gulp.js</strong> JavaScript task runners.</li>
                                    <li>Consumption of RESTful web APIs or web services.</li>
                                </ul>
                            </li>
                            <li>Adding interactions and animations to existing websites/application interfaces.</li>
                            <li>Back-end development with .NET technology such as ASP.NET MVC5, SharePoint 2013.</li>
                            <li>Hybrid Mobile Application development with Apache Cordova and AngularJS. Experience to publish application to Goole Play and App Store.</li>
                            <li>SharePoint Administrator: Installation, configuration, management and maintenance of SharePoint 2013 farms.</li>
                        </ul>
                        <h3>What I <i>can’t</i> help you with:</h3>
                        <ul>
                            <li>Designing a user interface for your website or app. <strong>I am not a designer</strong>.</li>
                            <li>I don’t create design mockups, wireframes or static design deliverables of that sort.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioIEX" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>Knowledge-Based Intranet Portal</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/iex.png" class="img-responsive" alt="Knowledge-Based Intranet Portal" title="Knowledge-Based Intranet Portal">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioIECRM" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>Dynamic CRM Revamp</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/iEngage.png" class="img-responsive" alt="Dynamic CRM Revamp" title="Dynamic CRM Revamp">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioKids" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>kids.readesl.com Website New Design</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/kids.readesl.com.png" class="img-responsive" alt="kids.readesl.com Website New Design" title="kids.readesl.com Website New Design">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioSFSpa" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>SF Spa Revamp Website</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/sf-spa.png" class="img-responsive" alt="SF Spa Revamp Website" title="SF Spa Revamp Website">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioHeinz" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>HEINZ Australia Website</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/heinz.png" class="img-responsive" alt="HEINZ Australia Website" title="HEINZ Australia Website">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioStateCourts" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>Corporate Website</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/statecourts.png" class="img-responsive" alt="Corporate Website" title="Corporate Website">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioNLB" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>Event Management System</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/nlb.png" class="img-responsive" alt="Event Management System" title="Event Management System">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioOak" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>Oak Tree Carpentry</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/oaktree.png" class="img-responsive" alt="Oak Tree Carpentry" title="Oak Tree Carpentry">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioGlenluna" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>Glenluna Group</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/geluna.png" class="img-responsive" alt="Glenluna Group" title="Glenluna Group">
                    </a>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioKTPH" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <h4>Online Therapy System</h4>
                            </div>
                        </div>
                        <img src="img/portfolio/ktph.png" class="img-responsive" alt="Online Therapy System" title="Online Therapy System">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="http://jtc.gov.sg/" target="_blank" class="portfolio-link" data-toggle="modal">
                        <img src="img/portfolio/so-forth.png" class="img-responsive" alt="So Forth">
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!-- Repository Section -->
    <section class="all-repository" ng-controller="MainCtrl" id="community">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Community Contribution</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="item in repositoryList | limitTo: 3" ng-if="!item.fork && item.name.indexOf('trungk18') == -1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="{{item.html_url}}" target="_blank">
                                <span class="panel-title-area">{{item.name}}</span>
                            </a>
                        </div>
                        <div class="panel-body description"><span>{{item.description}}</span></div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="text-center">
                                    <span class="span-stars-group ng-binding"><i class="fa fa-star fa-fw"></i>{{item.stargazers_count}}</span>
                                    <span class="span-forks-group ng-binding"><i class="fa fa-code-fork fa-fw"></i>{{item.forks_count}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p data-height="320" data-theme-id="dark" data-slug-hash="yJggrL" data-default-tab="css,result" data-user="trungk18" data-embed-version="2" class="codepen">See the Pen <a href="http://codepen.io/trungk18/pen/yJggrL/">CSS3 Loading - Square Blink</a> by Vo Tuan Trung (<a href="http://codepen.io/trungk18">@trungk18</a>) on <a href="http://codepen.io">CodePen</a>.</p>                    
                </div>
            </div>
            <div class="row view-more text-center">
                <h4 class="view-more-heading">View More</h4>
                <ul class="list-inline">
                    <li>
                        <a target="_blank" href="https://github.com/trungk18" class="btn-social btn-outline"><i class="fa fa-fw fa-github" title="Github"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://codepen.io/trungk18/" class="btn-social btn-outline"><i class="fa fa-fw fa-codepen" title="Codepen"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="http://stackoverflow.com/users/3375906/trungk18" class="btn-social btn-outline"><i class="fa fa-fw fa-stack-overflow" title="Codepen"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="loading" ng-show="repositoryList == null">

        </div>
    </section>

    <!-- Skill Section -->
    <section class="skill-wrap" id="skill">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Skill</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="skill-progress">
                        <div class="skill-title"><h3>HTML5</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 95%;">
                                <span>9/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->

                    <div class="skill-progress">
                        <div class="skill-title"><h3>CSS3</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;">
                                <span>8/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->

                    <div class="skill-progress">
                        <div class="skill-title"><h3>Bootstrap</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;">
                                <span>8.5/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->

                    <div class="skill-progress">
                        <div class="skill-title"><h3>JavaScript</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;">
                                <span>8/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="skill-progress">
                        <div class="skill-title"><h3>jQuery</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 85%;">
                                <span>8.5/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->
                    <div class="skill-progress">
                        <div class="skill-title"><h3>AngularJS</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;">
                                <span>7/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->
                    <div class="skill-progress">
                        <div class="skill-title"><h3>.NET</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%;">
                                <span>7.5/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->
                    <div class="skill-progress">
                        <div class="skill-title"><h3>Hybrid Mobile (Apache Cordova)</h3></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%;">
                                <span>5/10</span>
                            </div>
                        </div><!-- /.progress -->
                    </div><!-- /.skill-progress -->
                </div><!-- /.col-md-6 -->
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>I am passionate about programming, especially Front-end with more than 20+ branding projects. <br /> I have 3+ years experience working with HTML5, CSS3, jQuery and AngularJS. I am also strong in .NET Technology such as ASP.NET MVC 5; SharePoint 2013 Development, Migration and Farm Administration; ASP Identity 2.0 and Entity Framework.</p>
                </div>
                <div class="col-lg-5">
                    <p><span class="objective">My objective</span> <br /> To gain a solid foundation in software engineering in a corporation where my experience in analysis, design, implementation and testing would highly contribute to the success of company project.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.linkedin.com/in/trungk18" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-o"></i> My Full Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input name="Name" type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input name="Email" type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea name="Message" rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <input type="text" name="_gotcha" style="display:none" />
                        <input type="hidden" name="_subject" value="New submission from GitHub!" />

                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <input type="submit" class="btn btn-success btn-lg" value="Send">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>I am currently working in Singapore and accepting freelance work.<br /></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a target="_blank" href="https://www.linkedin.com/in/trungk18" class="btn-social btn-outline" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>    
                            <li>
                                <a target="_blank" href="https://www.facebook.com/trungk18" class="btn-social btn-outline" title="Facebook"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="skype:trungk18?chat" class="btn-social btn-outline"><i class="fa fa-fw fa-skype" title="Skype"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.flickr.com/photos/trungk18/" class="btn-social btn-outline" title="Flickr"><i class="fa fa-fw fa-flickr"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="http://www.last.fm/user/trungk18" class="btn-social btn-outline" title="last.fm"><i class="fa fa-fw fa-lastfm"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://soundcloud.com/trungk18" class="btn-social btn-outline" title="Sound Cloud"><i class="fa fa-fw fa-soundcloud"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Hobby</h3>
                        <p>Post-rock, Photography, Running, Watching movie, Cooking for my lover Bư bư.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Vo Tuan Trung 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioIEX" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Knowledge-Based Intranet Portal</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <img src="img/portfolio/iex-full.png" class="img-responsive img-centered" alt="Intranet-Based System" title="Intranet-Based System" />
                    </div>
                    <div class="col-lg-4">
                        <section>
                            <h5>Project Description</h5>
                            Proposed a newly designed for knowledge-based intranet portal (IEX4.0, running on SharePoint 2013) with these objectives:
                            <ul class="modal-paragraph">
                                <li>Have a highly intuitive and efficient platform for IE officers using the intranet for their knowledge work;</li>
                                <li>Ensure knowledge assets are inter-linked to provide a more logical view of knowledge within IEX;</li>
                                <li>Have business relevant features that will help increase workgroup collaboration within IEX;</li>
                                <li>Enable high search relevancy including federated search from various sources (e.g. CRM System);</li>
                                <li>Have a highly intuitive mobile responsive website, thereby eradicating the need for a native mobile application;</li>
                                <li>Optimize out-of-the-box features from SharePoint 2013</li>
                                <li>Provide a scalable intranet for ease of maintenance and migration;</li>
                                <li>Minimize customization</li>

                            </ul>
                        </section>
                        <section>
                            <h5>Responsibility</h5>
                            <ul class="modal-paragraph">
                                <li>Took part in Requirement Gathering, working with customer and Business Analyst for technical solution.</li>
                                <li>Proposed and designed the system, wrote technical design.</li>
                                <li>Proposed, setup and configured SharePoint small purpose farm server with 4 servers play different role: 1 Front-End server, 1 Application Server, 1 Database server, 1 Database Server and 1 Standalone server for Office Web Apps. </li>
                                <li>Configured and maintained Content Sources, Crawl Rules, File Types, Crawl properties and Managed Metadata within the Search Service Application.</li>
                                <li>Deployed Custom Solution Packages (WSP) using PowerShell commands.</li>
                                <li>Reviewed log files in ULS Viewer to perform troubleshooting and resolve issues and errors in a timely fashion.</li>
                            </ul>
                        </section>

                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="">Confidential</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="">Octorber 2015</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                            <li><a href="#" class="tag">SharePoint 2013</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioIECRM" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Dynamic CRM Revamp</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <img src="img/portfolio/iEngage-full.png" class="img-responsive img-centered" alt="Dynamic CRM Revamp" title="Dynamic CRM Revamp">
                    </div>
                    <div class="col-lg-4">
                        <p>Customer Relationship Management (CRM) system is to to attain a single view of customers and to improve overall operational efficiency and productivity</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="">Confidential</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="">December 2015</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                            <li><a href="#" class="tag">ASP.NET MVC 5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioKids" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>kids.readesl.com Website New Design</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <a target="_blank" href="http://kids.readesl.com/"><img src="img/portfolio/kids.readesl.com-full.png" class="img-responsive img-centered" alt="kids.readesl.com Website New Design" title="Click here to go to the live website."></a>
                    </div>
                    <div class="col-lg-4">
                        <p>Branding new website with fully mobile responsive website design to meet client's need. </p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://kids.readesl.com/">Read ESL</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="">August 2015</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioSFSpa" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>SF Spa Website Revamp</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <a target="_blank" href="https://sfintercare.com/"><img src="img/portfolio/sf-spa-full.png" class="img-responsive img-centered" alt="SF Spa Website Revamp" title="Click here to go to the live website."></a>
                    </div>
                    <div class="col-lg-4">
                        <p>SF Spa wants to re-build their website with responsive and elegant design, work smoothly on almost devices from mobile to tablet.</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a target="_blank" href="https://sfintercare.com/">SF Spa</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="#">April 2015</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="#">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioHeinz" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>HEINZ Australia Website Revamp</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <a target="_blank" href="http://www.heinz.com.au/"><img src="img/portfolio/heinz-full.png" class="img-responsive img-centered" alt="HEINZ Australia Website Revamp" title="Click here to go to the live website."></a>
                    </div>
                    <div class="col-lg-4">
                        <p><a href="http://www.heinz.com.au/">Heinz Australia</a> wants to make a homepage with responsive for fit with mobile and table device. One of my clients gave this project for me and he is so satisfied.</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a target="_blank" href="http://www.heinz.com.au/">Heinz Australia</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="">January 2014</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioStateCourts" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Customer Corporate Website</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <a href="https://www.statecourts.gov.sg/" target="_blank"><img src="img/portfolio/statecourts-full.png" class="img-responsive img-centered" alt="Customer Corporate Website" title="Click here to go to the live website."></a>
                    </div>
                    <div class="col-lg-4">
                        <section>
                            <h5>Project Description</h5>
                            Perform requirement gathering, design, development, testing and commissioning for State Courts Corporate Website on SharePoint 2013 hosted on G-Cloud. Supported responsive and mobilize on iPhone, iPad and Samsung devices. Developed and publish to Google Play and Apple Store mHearing mobile application using Apache Cordova.
                        </section>
                        <section>
                            <h5>Responsibility</h5>
                            <ul class="modal-paragraph">
                                <li>Designed and developed SharePoint web parts and modules using many technologies – SharePoint Server & Client object model, SharePoint 2013 Rest Service.</li>
                                <li>Developed SharePoint web application based on Publishing Portal template.</li>
                                <li>Rebranded sites, took part in UI analysis process and developed the whole site from scratch (PSD file) – Master page, Page layouts, Visual Web Part (including Responsive & Fluid design).</li>
                                <li>Supported onsite team on deploying SharePoint sites to production</li>
                                <li>Researched and studied bugs in SharePoint (especially SharePoint 2013)</li>
                                <li>Implemented a Win Form-based application to crawl all content such as picture, videos, pdf file and so on from old system with HTML Agility Pack.</li>
                                <li>Create Console-based application to read and upload date to new system.</li>
                                <li>Configured and maintained Managed Metadata Service Application. Created Groups, Term Sets and imported terms into various Managed Metadata Term Sets for varied customers.</li>
                                <li>Created Publishing Content Types for SharePoint Intranet Publishing Page Layouts for all the new layout pages.</li>
                                <li>Responsible for all responsibility on developing mobile application with SharePoint Rest API, Ionic Framework and AngularJS for both Android and iOS platform.</li>
                                <li><a href="https://play.google.com/store/apps/details?id=com.statecourts.mhearing">Google Play</a></li>
                                <li><a href="https://itunes.apple.com/us/app/mhearings/id981124571">App Store</a></li>
                                <li>Responsible for maintenance phase of project, communicate with customer, implement change request.</li>

                            </ul>
                        </section>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="#">Confidential</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="">December 2014</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="">SharePoint/Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                            <li><a href="#" class="tag">Angular JS</a></li>
                            <li><a href="#" class="tag">SharePoint 2013</a></li>
                            <li><a href="#" class="tag">Apache Cordova</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioNLB" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Event Management System</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <img src="img/portfolio/nlb-full.png" class="img-responsive img-centered" alt="Event Management System" title="Event Management System">
                    </div>
                    <div class="col-lg-4">
                        <p>Build the new EMS system to central point which library users can discover, engage and learn new knowledge by attending events conducted by the customer and its partners.</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="">Confidential</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="">September 2015</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">SCSS</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioOak" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Oak Tree Carpentry</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <a href="http://oaktreecarpentry.com/" target="_blank"><img src="img/portfolio/oaktree-full.png" class="img-responsive img-centered" alt="Oak Tree Carpentry" title="Click here to go to the live website."></a>
                    </div>
                    <div class="col-lg-4">
                        <p>Outsource for a customer. Main responsible for convert PSD to HTML with responsive technique.</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://oaktreecarpentry.com/">Oak Tree Carpentry</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="#">March 2014</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="#">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioGlenluna" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Glenluna Group</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <a href="http://www.glenluna.com/" target="_blank"><img src="img/portfolio/geluna-full.png" class="img-responsive img-centered" alt="Glenluna Group" title="Click here to go to the live website."></a>
                    </div>
                    <div class="col-lg-4">
                        <p>Delivered a responsive HTML5 / CSS3 website for a US customer.</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="http://www.glenluna.com/">Glenluna Group</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="#">April 2014</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="#">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">SCSS</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioKTPH" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Online Therapy System</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <img src="img/portfolio/ktph-full.png" class="img-responsive img-centered" alt="KTPH" title="KTPH">
                    </div>
                    <div class="col-lg-4">
                        <p>Working with UI/UX designers to convert designs into responsive, performant and standards-compliant websites, using HTML5, CSS and JavaScript.</p>
                        <ul class="list-inline item-details">
                            <li>
                                Client:
                                <strong>
                                    <a href="">Confidential</a>
                                </strong>
                            </li>
                            <li>
                                Date:
                                <strong>
                                    <a href="">March 2015</a>
                                </strong>
                            </li>
                            <li>
                                Role:
                                <strong>
                                    <a href="">Front-end Developer</a>
                                </strong>
                            </li>
                        </ul>
                        <ul class="tags">
                            <li><a href="#" class="tag">HTML5</a></li>
                            <li><a href="#" class="tag">CSS3</a></li>
                            <li><a href="#" class="tag">Bootstrap 3</a></li>
                            <li><a href="#" class="tag">jQuery</a></li>
                        </ul>
                    </div>
                </div>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>-->
            </div>
        </div>
    </div>
    <a href="#0" class="cd-top">Top</a>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
    <script src="https://assets.codepen.io/assets/embed/ei.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    <script src="js/main.js"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-80363801-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
